<div class="container-fluid center">
  <h1>USD <span class="badge badge-secondary">{{data.rates.USD}}</span></h1>
</div>
<div class="container-fluid center " style="display:inline;">
  <h2 class="number">EUR <span class="badge badge-secondary ">{{data.rates.EUR}}</span></h2>
  <h2 class="number">GBP <span class="badge badge-secondary">{{data.rates.GBP}}</span></h2>
  <h2 class="number">JPY <span class="badge badge-secondary">{{data.rates.JPY}}</span></h2>
  <h2 class="number">CNH <span class="badge badge-secondary">{{data.rates.CNY}}</span></h2>
</div>